.OneStopDiv{
    /* padding: 10px;
    background-image: url(../../assets/images/OnestopLogo.svg);
    background-repeat: no-repeat; */

}
.onebg{
    padding-top: 12em;
    position: absolute;
    width: 45%;
    /* right: 0; */
    z-index: -20;
    /* opacity: 50; */
}
.rowMain-container {
    padding: 30px;
}
.titleOneStop{
    text-align: center;
    font-weight: 600;
    color: #CC281E;
    font-size:2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 1em;
}

/* HEADING */

.rowHeading {
    text-align: center;
}

.heading__title {
    font-weight: 600;
}

.heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
}

.heading__link {
    text-decoration: none;
}

.heading__credits .heading__link {
    color: inherit;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    /* margin: 20px; */
    margin:0 2.625em 2.625em 0;
    padding: 20px;
    width: 500px;
    min-height: 100px;
    display: grid;
    grid-template-rows: 20px 25px 1fr 50px;
    border-radius: 6px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
}

.card__exit {
    grid-row: 1/2;
    justify-self: end;
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

/* CARD BACKGROUNDS */
.card-bg {
    background-color: linear-gradient(#000000ef, #000000);
    background-image: url(../../assets/images/toBeDeleted/2.png);
  
    /* z-index: 40; */
}
.card-1 {

    background-image: url(../../assets/images/main/D3-D8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fit-content;
}



.card-2 {
    background-image: url(../../assets/images/main/A5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fit-content;
}

.card-3 {
    background-image: url(../../assets/images/main/A6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fit-content;
}

.card-4 {
    background-image: url(../../assets/images/main/D10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: fit-content;
}

/* .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
   */
/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}