body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navWrapper{

    width: 100%;
    display: flex;
    padding-left: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;

}
.navContainer{

    display: flex;
    /* justify-items: end; */
    /* flex:  860px; */
    justify-content: space-between;
    align-items: flex;
    /* flex-direction: 1 1 0%; */

}

.navList{
    list-style: none;
    display: flex;
    overflow: hidden;
    /* flex: 860px; */
    /* visibility: hidden; */
    justify-content: end;
    align-items: center;
    /* flex-direction: row; */
    padding-left: 10px;
    /* flex-direction: 1 1 0%; */

}

.titleName{

    font-family: 'Poppins', sans-serif; 
    font-weight: semibold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    padding-right:20px;
}