.home{
    overflow: hidden;
    min-height: 100vh;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    margin: 4%;
   
    grid-gap: 5em;
}
.leftBox{
    padding: 10px;
}

.heading{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.counterContainer{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
}

.titles{
    font-size: 3.625rem;
    font-weight: 600; 
    color: #000000;
    line-height:4.25rem;
}

.title1,.title3{
    font-weight:500 ;  
}
.title2{
    color: #CC281E;
}
.subTitles{
    font-size: 1.2em;
    padding-top: 1.3rem;
    /* padding-bottom: 5rem; */
}

.counter{
    display: inline-flex;
    align-items: center;
    padding: 1em;


}

.countNumber,.countTitle{
    font-weight: 600;  
    text-align: center;
}

.countNumber{
    font-size: 2.75em;
    padding: 0.2em;
}

.countTitle{
    font-size: 0.75em;
    text-transform: uppercase;
}

@media(max-width:540px){
    .mainContainer{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
        margin: 4%;
       
        /* grid-gap: 6em; */
    }
    .heading{
        text-align: center;
    }
    .titles{
        font-size: 2.75rem;
        line-height:3.25rem;
    }
    .counterContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

