
.bgImageTran{
    background-image: url("../../assets/images/logo_black.png");
    z-index: 10;

}
.navbar{
}

/* .Home li,
.About li,
.Gallery li,
.Contact li,
.Project li{
    font-size: 200px;
    margin-right: 10px;
    text-transform: uppercase;

} */

/* li{
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font-size:20px
} */


/* .logo{
    position: fixed;
    left: 20px;
    width: 80px;
    cursor: pointer;

} */
/* .contentNav{
    cursor: pointer;
    position: fixed;
    right:475px;  
    width:30px;
}
.navLinkLabel{
    padding-right: 20px;
} */

