
.navbar{
    z-index: 10;

    width: 100%;
    padding-right: 2em;
    color: rgba(42, 41, 41, 0);
    background-color: #f3f3f3c2;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(24px); */
    /* position: fixed;
    top: 0; */

}
@media (max-width:640px) {
    nav{
        /* position: none; */
        top: none;

    }
    
}
