.gallery-container{
  width: auto;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items:center ;
  padding: 2% 0%;
  flex: 1 1 80%;
  height: 90vh;
}
.gallery{
  display: grid;
  width: 100%;
  height: 98%;
  padding: 2% 2%;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(6,1fr);
  grid-gap: 20px;
}
.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.photo :hover{
  transform: scale(105%);
}
.photo.wide>img{
  min-width: 100%;
}
.photo.tall>img{
  min-height: 100%;
}
.photo.square>img{
  min-height: 100%;
  width: auto;
}
.photo.tall{
  grid-row:span 2;
  grid-column: span 1;
}
.photo.wide{
  grid-column: span 2;
  grid-row: span 1;
}
.photo.square{
  grid-row:span 1;
  grid-column:span 1;

}
/* @media screen and (max-width:768px) {
  .gallery{
    grid-template-columns: repeat(2,1fr);
  }
} */