.footerbg {
    overflow: hidden;
    min-height: fit-content;
    background-color: black;
    color: white;
    background-image: url(../../assets/images/footerLogo.svg);
    background-repeat: no-repeat;
    background-size: 100em;
    
}

.footerContainer {
    /* padding: 4em; */
    margin-top: 1em;
}

.aboveHead {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.93em;
    letter-spacing: 0.2em;
    opacity: 0.6;
}

.FooterTitle {
    color: #CC281E;
    font-size: 2.5em;
    font-weight: 600;
    padding: 10px;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s  ;
}

.footerSub {
    font-weight: 200;
    line-height: 35px;
    font-size: 1em;
    opacity: 0.8;

    animation: fadeIn;
    animation-duration: 2s ;

}
.footerLogo{
    width: 5em;
}

.contactBtnFooter {
    margin: 20px;
    padding: 0.6em 2em 0.6em 2em;
    background: #CC281E;
    box-shadow: 0px 0px 32px rgba(204, 40, 30, 0.5);
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 2px;
    /* font-size: 18px; */
    text-transform: uppercase;
    color: white;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s ;
}

.contactBtnFooter:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.socialsBottm {
    /* padding: 5em; */
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s ;
}

.contentsAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socialLogo {
    display: flex;
    flex-direction: row;
}

.linksFooter {
    display: flex;
    flex-direction: row;
    padding: 0.2em;
}

.footerNameLink {
    padding: 0.825em;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s ;
}

.footerNameLink:hover {
    color: #CC281E;
}

.footerSocialLink {
    padding: 0.5em;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s ;
}

.footerSocialLink:hover {

    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(225, 6, 6, 0.6),
                        0 1px 1px 0 rgba(255, 0, 0, 0.4);


}




@media (max-width:860px) {
    .socialsBottm {
        display: flex;
        flex-direction: column;
    }


}
@media (max-width:640px){
    .footerbg{
        background-image: none;
    }
}